body {
	text-align: center;
	background-color: #ffffff;
/*	z-index: 1;*/
}

h1 {
	font-family: 'Bungee Hairline', cursive;
	font-size: 3em;
	color: #fff;
	mix-blend-mode: difference;
}

p {
	font-family: 'Raleway', sans-serif;
	color: #fff;
	mix-blend-mode: difference;
}

input {
	font-size: 5.5em;
	background: transparent;
	padding: .25em 0;
	border: none;
	color: #ffffff;
	mix-blend-mode: difference;
	border-bottom: 1px solid white;
	width: 7.2em;
	margin: 0 auto;
	margin-top: 4%;
}

input:focus {
	outline: 0;
	border-bottom: 2px solid white;
}
/*input:focus::placeholder {
}*/

section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 2em;
}

.fade {
	animation: pulse 40s infinite;
}

@keyframes pulse{
  0%{
    background-color: #F44336;
  } 
  20%{
    background-color: #E91E63;
  }
  30%{
    background-color: #BA68C8;
  }
  40%{
    background-color: #2196F3;
  }
  50%{
    background-color: #009688;
  }
  60%{
    background-color: #4CAF50;
  }
  70%{
    background-color: #FFB300;
  }
  80%{
    background-color: #FF9800;
  }
  90%{
    background-color: #FF5722;
  }
  100%{
    background-color: #F44336;
  }
}

/* I want to have bg color of body masked with a white tint.
on input hover, I want it to disappear. 

.fade {
	transition: background-color 0.5s ease;
	background-color: rgba(255, 255, 255, 0.3);
	padding: 100%;
}

.hexcode:focus .fade {
	background-color: rgba(255, 255, 255, 0);
}*/


.SpecialThanks {

}